body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
    background-image:url("https://wallpaperaccess.com/full/2242442.png") ;
    background-size:cover; 
    background-position: center;
    background-repeat:no-repeat; 
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-family: 'MedievalSharp', cursive;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0.5rem;
}

@media (min-width:600px){
    main{
        flex-direction:row;
        justify-content: center;
        width:86vw;
        gap:8em;
        margin:3vh auto;
    }
}

.character-card{
    height:14rem;
    margin-top:0.5rem;
    width:94vw;
    max-width:230px;
    padding:1vh 1vw;
    font-size:1.6rem;
    font-weight:bold;
    background: #231d24;
    color:white;
    border-radius:14px;
    position:relative;
    text-align: center;
    border: 0.08rem solid #000721;
    box-shadow: inset 0px 0px 6px 2px rgba(100,100,100,0.2),
                0px 0px 10px rgba(117,182,214,0.2);
}

@media (min-width:600px){
    .character-card{
        height: 35rem;
        width: 36vw;
        background: transparent;
        box-shadow: none;
        border: none;
        color:black;
        font-family:"ubuntu"; 
        font-size:2rem;
    }
}

.name{
    margin:1vh 0;
    width:100%;
    letter-spacing: 0.08em;
    font-size:90%;
    border-radius:14px 14px 0 0;
}

@media (min-width:600px){
    .name{
        margin:2vh 0;
        font-size:100%;
        background: white;
        opacity:0.8;
    }
}

.avatar{
    width:15vh;
    height:15vh;
    border: 2px solid #000721;
    max-width:100%;
    border-radius:10px; 
    background-color: rgba(0, 7, 33, 0.8);
}

.avatar:hover{
    transform:scale(2);
    opacity: 1;
    transition: transform 1s;
}

@media (min-width:600px){
    .avatar{
        height:45vh;
        width:35vh;
        border:none;
        background:none; 
    }
}

.health{
    font-size:1.1rem;
    font-weight:normal;
    text-align: left;
    width:90%;
    margin:1vh 5%;
    color:white;
    
    letter-spacing: 0.05rem;
}

@media (min-width:600px){
    .health{
        margin:1vh 5%;
        font-weight:bold; 
        font-size:1.2rem;
    }
}

.health b{
    font-weight: bold;
    color:#fff;
}

.health-bar-outer{
    background: #171217;
    height:1vh;
    width:90%;
    margin:0 5%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner{
    background: #466d34;
    height:100%;
    background: linear-gradient(to right, greenyellow, darkgreen);
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner.danger{
    background:#d1435f;
}

.dice-container{
    width:100%;
    height:20%;
    position:absolute;
    bottom:0;
    left:0px;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#000721;
    border: 14px;
    opacity: 0.9;
    border-radius:14px;
    gap:0.5rem;
}

@media (min-width:600px){
    .dice-container{
        height: 18%;
        border-radius:0 0 10px 10px;
    }
}

.dice, .placeholder-dice{
    height:5.5vh;
    width:5.5vh;
    background: #ffff;   
    border-radius: 5px;
    border:1px solid #666;
    color:#000721;
    text-align: center;
    line-height: 6vh;
}

.dice-container .placeholder-dice{
    background: transparent;
}

@media (min-width:600px){
     .dice .placeholder-dice , .dice-container .placeholder-dice{
         height:8vh;
         width:8vh;
         line-height: 10.5vh;
     }  
}

button{
    margin-top:0.5rem;
    font-family: 'MedievalSharp', cursive;
    background-color:#fcc02a;
    border:2px solid #963404;
    outline:none;
    padding-left:5vw;
    padding-top:0.5vw;
    padding-right:5vw;
    text-align:center;
    font-size:1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height: 8vh;
    font-weight:bold; 
    box-shadow: 0px 6px 40px -4px rgba(0,0,0,0.4);
}    

@media (min-width:600px){
     button{
         margin:0px;
     }
}

button:focus{
    outline:none;
}

.end-game{
    margin-top:10%;
    text-align:center;
    font-size:3em;
    color:white;
    text-shadow: 0 0 10px black;
    font-family: "Inter";
}

.end-emoji{
    font-size:80px;
}
